<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BetterCmdTab.showSettingsDetails</key>
	<true/>
	<key>BetterShortcuts_panelClose@switchApps</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":13}</string>
	<key>BetterShortcuts_panelClose@switchWindows</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":13}</string>
	<key>BetterShortcuts_panelFullscreen@switchApps</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":3}</string>
	<key>BetterShortcuts_panelFullscreen@switchWindows</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":3}</string>
	<key>BetterShortcuts_panelHide@switchApps</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":4}</string>
	<key>BetterShortcuts_panelHide@switchWindows</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":4}</string>
	<key>BetterShortcuts_panelMinimize@switchApps</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":46}</string>
	<key>BetterShortcuts_panelMinimize@switchWindows</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":46}</string>
	<key>BetterShortcuts_panelQuit@switchApps</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":12}</string>
	<key>BetterShortcuts_panelQuit@switchWindows</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":12}</string>
	<key>BetterShortcuts_switchApps</key>
	<string>{"carbonKeyCode":48,"carbonModifiers":256}</string>
	<key>BetterShortcuts_switchWindows</key>
	<string>{"carbonModifiers":256,"carbonKeyCode":50}</string>
	<key>BetterShortcuts_windowCenter</key>
	<string>{"carbonKeyCode":125,"carbonModifiers":4352}</string>
	<key>BetterShortcuts_windowMaximize</key>
	<string>{"carbonKeyCode":126,"carbonModifiers":4352}</string>
	<key>BetterShortcuts_windowRestorePrevious</key>
	<string>{"carbonKeyCode":51,"carbonModifiers":4352}</string>
	<key>BetterShortcuts_windowTileBottomLeft</key>
	<string>{"carbonKeyCode":41,"carbonModifiers":4352}</string>
	<key>BetterShortcuts_windowTileBottomRight</key>
	<string>{"carbonKeyCode":39,"carbonModifiers":4352}</string>
	<key>BetterShortcuts_windowTileLeft</key>
	<string>{"carbonKeyCode":123,"carbonModifiers":4352}</string>
	<key>BetterShortcuts_windowTileRight</key>
	<string>{"carbonKeyCode":124,"carbonModifiers":4352}</string>
	<key>BetterShortcuts_windowTileTopLeft</key>
	<string>{"carbonKeyCode":33,"carbonModifiers":4352}</string>
	<key>BetterShortcuts_windowTileTopRight</key>
	<string>{"carbonKeyCode":30,"carbonModifiers":4352}</string>
	<key>Switcher.appExceptions</key>
	<array>
		<dict>
			<key>bundleID</key>
			<string>com.apple.finder</string>
			<key>hide</key>
			<string>whenNoWindows</string>
			<key>ignore</key>
			<string>never</string>
		</dict>
	</array>
	<key>Switcher.disabledSymbolicHotKeys</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>6</integer>
	</array>
	<key>Switcher.hapticOnCommit</key>
	<false/>
	<key>Switcher.hideFromScreenSharing</key>
	<false/>
	<key>Switcher.hideMenuBarIcon</key>
	<true/>
	<key>Switcher.letterHintsEnabled</key>
	<false/>
	<key>Switcher.nextScopedShortcutID</key>
	<integer>0</integer>
	<key>Switcher.scopedShortcutList</key>
	<array/>
	<key>Switcher.shortcutOverrides</key>
	<array>
		<dict>
			<key>boldSelectedLabel</key>
			<string>true</string>
			<key>letterHintsEnabled</key>
			<string>false</string>
			<key>panelSize</key>
			<string>large</string>
			<key>previewTitleAlignment</key>
			<string>center</string>
			<key>showApplicationNames</key>
			<string>true</string>
			<key>showHidden</key>
			<string>true</string>
			<key>showMinimized</key>
			<string>true</string>
			<key>showUnreadBadges</key>
			<string>false</string>
			<key>showWindowTitleLabel</key>
			<string>true</string>
			<key>showWindowless</key>
			<string>false</string>
			<key>sortOrder</key>
			<string>mruWindows</string>
			<key>spaceScope</key>
			<string>allSpaces</string>
			<key>target</key>
			<string>switchApps</string>
		</dict>
		<dict>
			<key>showWindowless</key>
			<string>false</string>
			<key>target</key>
			<string>switchWindows</string>
		</dict>
	</array>
	<key>Switcher.showUnreadBadges</key>
	<false/>
	<key>Switcher.showWindowlessApps</key>
	<false/>
	<key>Switcher.sortOrder</key>
	<string>mruWindows</string>
	<key>Switcher.soundOnCommit</key>
	<false/>
</dict>
</plist>
